// 憋拉惹～到底啦(ㆆ □ ㆆ)
.bottom-ending {
  width: 100vw;
  text-align: center;
  line-height: 35px;
  padding: 30px 0px;
  font-size: 24px;
  color: $gray-lighter;
}
i, em {
  font-style: normal;
}
.img100{
  img{
    width:100%;
    height:100%;
  }
}

// 下拉刷新，上拉加载替换样式
#load-more-vue {
  .wrap {
    .loading {
      img {
        width: 80px
      }
    }
    .bottom-loading {
      img {
        width: 80px
      }
    }
  }
}
.page__empty{
  text-align: center;
  padding-top: 150px;
  // height:calc(100vh);
  // background: #fff;
  img{
    width: 60%;
  }
}
