// Reboot
// --------------------------------------------------

html {
  box-sizing: border-box;
  font-size: $font-size;
  -webkit-overflow-scrolling: touch;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
  margin: 0px;
  padding: 0px;
}
input, button, select, textarea {
	outline: none;
	-webkit-appearance: none;
	border-radius: 0;
	border:0
}

body {
  background-color: $background-color;
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

hr {
  border: 0;
  border-top: $border;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input,
textarea {
  font-family: inherit;
}

textarea {
  resize: vertical;
}

ul, 
li {
  list-style: none;
}