// 用户
@import "~views/user/login/login.stylus";
@import "~views/user/invitation/invitation.stylus";
@import "~views/user/my-center/my-center.stylus";
@import "~views/user/invitation/invitation.stylus";
@import "~views/user/otherInvitation/otherInvitation.stylus";
@import "~views/user/otherHome/otherHome.stylus";
@import "~views/user/sex/sex.stylus";
@import "~views/user/style-tag/style-tag.stylus";
@import "~views/user/setting/setting.stylus";
@import "~views/user/message/message.stylus";
@import "~views/user/setting/about-sd/about-sd.stylus";
@import "~views/user/setting/address/address-list.stylus";
@import "~views/user/setting/address/update-address.stylus";
@import "~views/user/setting/attestation/attestation.stylus";
@import "~views/user/setting/attestation/attestation-list.stylus";
@import "~views/user/help/info/help-info.stylus";
@import "~views/user/my-coupon/my-coupon.stylus";

// 搜索
@import "~views/search/content/content.stylus";

// 订单
@import "~views/buy/settlement/settlement.stylus";
// 首页
@import "~views/index/index/index.stylus";

// 产品
@import "~views/product/daily-update/daily-update.stylus";
@import "~views/product/beauty-guard/beauty-guard.stylus";
@import "~views/product/product-detail/product-detail.stylus";
@import "~views/product/gift-bag/gift-bag-detail.stylus";

// 品牌
@import "~views/classify/brand/brand-detail.stylus";

// 消息
@import "~views/message/list/list.stylus";
